

.news-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 50px 0px 50px;
    background-color: #353b48;
    justify-content: left;
    color: white;
    margin: 15px 0px 50px 0px;
  

}
.article {
    color: white;
    width: 900px;
    height: auto;
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 15px 5px 35px 25px; 
    
       

    background-color: #353b48;

}


.imgNews {
    width: 250px;
    height: 150px;;
    display: flex;
    justify-content: left;
    background-color: #353b48;
    
    margin: 15px 0px 0px 0px;
    
   
}
.newstext {
    justify-content: left;
   margin:  1
   5px 5px 29px 5px;
   border: solid 2px #718093;
   float: left;
   font-size: 18px;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;  
}

.content {

    margin: 50px;
    height: 10px;;
    width: 500px;
    font-family: sans-serif; 
    font-size: 15px;
    float: right;

   
}

.newstitle {
    width: auto;
    top: 10px;
    justify-content: center;
    display: inline;   
    color: brown;
}

.title7 {
    margin-top: 70px;
    display: inline; 
   font-size: 25px;
   font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 200px;
    }

.title6 {
       
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline; 
    widows: 1px; 
    font-size: 35px;
    margin-top: 700px;       
        }