
    footer {
 
    background-image: linear-gradient(to right, brown , yellow);      
   
    
}


.title3 {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    display: inline;    
    color: brown;
}

.title4 {   
    display: inline; 
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 200px;
    }

.title5 {
       
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline; 
    widows: 1px; 
    font-size: 35px;
          
        }

.social {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
        }

.logoFoot {
position: relative;
margin: 0;
float: right;
top: -45px;
Left: 255px;

        }

