.footer-container {
    position: fixed;
    bottom: 0px;
    width: 100vw;
}
   
footer {
   background-image: linear-gradient(to right, brown , yellow);     
    
}

.titlefoot {
    display: inline;    
    color: brown;
    align-items: center;
}

.title4 {   
    display: inline; 
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 300px;
    }

.title5 {
       
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline; 
    widows: 0px; 
    font-size: 35px;
          
    }

.social {
    margin-left: auto;
    margin-right: 30px;
    text-align: end;
        }


