header {
    display: flex;
    flex-direction: row;
    
}
img {
    width: 100px;
    height: 70px;
    float: left;
    margin: 20px;
}


.title {
    text-align: center;
    
    display: inline;
    align-items: center;
    margin-top: 300px;
    font-size: 10px;
    width: 10px;
    font-size: 30px;
    color: brown;
}

.title1 {
    text-align: center;
    display: inline; 
    widows: 1px;
    font-size: 10px;
    width: 10px;
    }

    .title2 {
        text-align: center;
     display: inline; 
     widows: 1px; 
        font-size: 10px;
        width: 0px;
        }

nav {

    float: right;
    position: fixed;
    top: 0;
    width: 80%;
    margin-left: 100px;;
}

a {
    width: 50%;
    color:saddlebrown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 10px;
}
nav li {
    display: inline-block; /* step 1 */
    width: 12%; /* step 4 */
    margin-right: 20px; /* step 5 */
  }

  .headerPost {
    width: 50%;
    color:saddlebrown;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 10px;
}

.headerPoster{
    color:saddlebrown;
    display: inline-block; /* step 1 */
    width: 12%; /* step 4 */
    margin-right: 20px; /* step 5 */
  }