header {
    display: flex;
    flex-direction: row;
    
}
img {
    width: 100px;
    height: 70px;
    float: left;
    margin: 20px;
}

.title {
 
    font-size: 10px;
    width: 200px;
    float: right;
    font-size: 20px;
    width: 300px;
    margin:
35px;
    color: brown;
    
}