header {
    display: flex;
    flex-direction: row;   
    background-image: linear-gradient(to right, brown , yellow);
    height: 140px;      
}

.headerBottomBorder {
    height:3px;
    width: 100%;
    background-image: linear-gradient(to right, brown , yellow);

}
.logo {
    width: 130px;
    height: 100px;
    float: right;
    margin-left: 0px;
    margin-top: 35px;;
}

.logoNav {
    width: 130px;
    height: 100px; 
}

.logoTitleHeader {
    left: 0px;
    height: fit-content;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title {
    display: inline;
    margin-left: 80px;
    
    color: brown;
}

.navTitle {

}

.title1 {
    display: inline; 
    font-size: 25px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 200px;
    color: brown;
    position: relative;
    bottom: 15px
    }

.title2 {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline; 
    widows: 1px; 
    font-size: 35px;
    color: brown;
    position: relative;
    top: 5px
}

nav {
    position: fixed;
    height: fit-content;
    width: 100%;
}

.headerNav {
    background-color: #2f3640;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.headerLink {
    width: fit-content;
    color: white;;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    padding: 10px;
}

.headerLink:hover {
 
    background-color:brown;
    border-radius: 15px;
}

.search {
    width: 300px;
    border-radius: 6px;
}

.dropmenu {  
    color: brown;    
    float: right;
    margin-left: 500px;
    margin-top: 70px;;

}
.droplist {  
    color: brown;
}


