/*css for MovieDetail component */
.movie-detail-container {
    background-color: #1e272e;
    box-sizing: border-box;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}
.movie-detail {
    border: solid 2px #718093;
    margin: auto 5%;
}
.name-title {
    width: 30%;
    height: 15%;
    background-color: #485460;
    color: #fff;
    margin-bottom: 0;
    padding: 0;
    font-weight: 100; 
}
.ratings {
    display: flex;
    justify-content:space-evenly;
    background-color: #485460;
    color: #fff;
    margin-top: 0;
    width: 60%;
    height: 10%;
    
}
.ratings div {
    display: flex;
    font-size: 70%;
    font-weight:400; 
}
.rating-value {
    text-align: right;
    margin-inline-start: 4px;
}
.detail-wrapper {
    display: flex;
    color: #fff;
}
.plot {
    font-weight: 400;
    font-size: 95%;
    letter-spacing: 1px;
    word-spacing: 2px;
}
.plot-summary p {
    font-size: 95%;
}
.plot-summary h3 {
    font-weight: 400;
}
.various {
    display: flex;
    justify-content: space-evenly;
    background-color: #485460;
    color: #fff;
    margin-top: 0;
    width: 75%;
    height: auto;
    font-size: 70%;
    font-weight:400;
}
.var-div {
    display:flex;
}   
.h-var {
    margin-inline-start: 4px;
}
.add-btn {
    padding: 5px;
    font-weight: 400;
    border-radius: 150px;
    background-color: #718093; 
    transition: background-color 0.2s, border 0.2s, color 0.2s; 
}
.add-btn:hover {
    color: #fff;
    background-color: #1e272e;
    border: solid 1px #718093;
} 



