/*css for MovieDetail component */
.movie-detail {
    
    background-color: #1e272e;
    color: #555;
    font-family: 'Lato', 'Arial', 'sans-serif';
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
    margin: auto 5%;
}
.name-title {
    width: 30%;
    height: 15%;
    background-color: #485460;
    color: #fff;
    margin-bottom: 0;
    padding: 0;
    font-weight: 100; 
}
.ratings {
    display: flex;
    justify-content:space-evenly;
    background-color: #485460;
    color: #fff;
    margin-top: 0;
    width: 60%;
    height: 10%;
    
}
.ratings div {
    display: flex;
    font-size: 70%;
    font-weight:400; 
}
.rating-value {
    text-align: right;
    margin-inline-start: 4px;
}
.wrapper {
    display: flex;
    color: #fff;
}

.various {
    display: flex;
    justify-content: space-evenly;
    background-color: #485460;
    color: #fff;
    margin-top: 0;
    width: 60%;
    height: 15%;
    font-size: 70%;
    font-weight:400;
}   




