

.Login-Form{
display:flex;
flex-direction: column;
align-items: center;
}

.Login-Input{
border:solid black;
border-width: thin;
width:170ppx;
font-size: 24px;

}

.Login-Submit{
  border:solid black;
border-width: thin;
font-size: 20px;
margin-top: 20px;
background-color:lemonchiffon;
height: 40px;
width:120px;
border-radius: 10px;
}

.Login-Label{
  font-size: 18px;
  margin-top: 10px;
}

.Register-Link{
  margin-top:30px;
  font-size: 20px;
}